@charset "UTF-8";
/* CSS Document */

/* Reset browser default styles: */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: normal;
    list-style: none;
}

/* border-box so that border widths aren't added to the total width of the element: */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}
/* Clearfix to make floated elements behave correctly: */
   .cf:before, .cf:after { content: ""; display: table; }
   .cf:after { clear: both; }
   .cf { zoom: 1; }
   .clear { clear: both; }

/* In order for the percentage heights to work we need this: */
html, body { height:100%; }

/*font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Share Tech Mono', monospace;*/

/*
#1D1A31 dark purple 
#887A71 light brown
#FFF5E6 off white
#B3E16E light green
#C33149 pinkish red
*/

/* ======================================================
   GENERAL RULES
   ====================================================== */


/* To make images responsive. They'll be as big as their parent element: */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* First always define font-family and font-sizes */
html{
    background-color: #887A71;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
h1 {
    margin-top: 40px;
    margin-left: 400px;
    font-size: 42px;
    font-family: 'Share Tech Mono', monospace;
    color: #FFF5E6;
    /*text-shadow: -2px 2px #1D1A31ED;*/
    text-decoration: underline dotted #B3E16E;
    position: relative;
}

#name{
    text-align: right;
    margin-right:490px;
    font-family: 'Share Tech Mono', monospace;
    color: #FFF5E6;
    text-shadow: -2px 2px #1D1A31ED;
}

#pic1{
    position:absolute;
    max-width: 1000px;
    left:0px;
    z-index:1;
    margin-left:600px;
    margin-top:200px;
    opacity:0.25;

}

#pic2{
    position:absolute;
    max-width: 1000px;
    left:0px;
    z-index:1;
    margin-left:600px;
    margin-top:-792px;
    opacity:0.25;

}
#pic3{
    position:absolute;
    max-width: 800px;
    left:0px;
    z-index:1;
    margin-left:0px;
    margin-top:-602px;
    opacity:0.25;

}

#q1{
    margin-top: 40px;
    margin-left: 40px; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;    
    position: relative;
    z-index:5;
}
#q1_2{
    margin-top: 40px;
    margin-left: 300px; 
    font-size: 49px;
    font-family: 'Libre Barcode 128 Text', cursive;
    color:#1D1A31;
    text-decoration: underline dotted #C331497D;
    position: relative;
}

#q1_one{
    margin-top: -350px;
    margin-left: 20px; 
    font-size:400px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.35;
    z-index:3;
    position: relative;
    text-shadow: -4px 4px #B3E16E;
}

#q1_a{
    margin-top: -40px;
    margin-left: 60%; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;
    position: relative;
    float: none;
    z-index:5;
    border: #8e8971;
    border-style: double;
    border-width: 10px;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

#q1_Aback{
    margin-top: -250px;
    margin-right: 100px; 
    font-size:220px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.4;
    z-index:3;
    position: relative;
    float: right;
    border: #D9EBAA;
    border-style: double;
    border-width: 10px;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
}

#q1_b{
    margin-top: 30px;
    margin-left: 35%; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;
    position: relative;
    float: none;
    z-index:5;
    border: #8e8971;
    border-style: double;
    border-width: 10px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

#q1_Bback{
    margin-top: -230px;
    margin-left: 37%; 
    font-size:220px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.4;
    z-index:3;
    position: relative;
    float: left;
    border: #D9EBAA;
    border-style: double;
    border-width: 10px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

#q1_c{
    margin-top: 42px;
    margin-left: 45%; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;
    position: relative;
    float: none;
    z-index:5;
    border: #8e8971;
    border-style: double;
    border-width: 10px;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
}

#q1_Cback{
    margin-top: -240px;
    margin-left: 62%; 
    font-size:220px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.4;
    z-index:3;
    position: relative;
    float: left;
    border: #D9EBAA;
    border-style: double;
    border-width: 10px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

#q1_d{
    margin-top: 35px;
    margin-left: 40%; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;
    position: relative;
    float: none;
    z-index:5;
    border: #8e8971;
    border-style: double;
    border-width: 10px;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}

#q1_Dback{
    margin-top: -170px;
    margin-left: 37%; 
    font-size:220px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.4;
    z-index:3;
    position: relative;
    float: left;
    border: #D9EBAA;
    border-style: double;
    border-width: 10px;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

#q1_e{
    margin-top: 30px;
    margin-left: 56%; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;
    position: relative;
    float: none;
    z-index:5;
    border: #8e8971;
    border-style: double;
    border-width: 10px;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

#q1_Eback{
    margin-top: -210px;
    margin-right: 140px; 
    font-size:220px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.4;
    z-index:3;
    position: relative;
    float: right;
    border: #D9EBAA;
    border-style: double;
    border-width: 10px;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    
}



#q2{
    margin-top: 40px;
    margin-left: 130px; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;    
    position: relative;
    z-index:5;
}

#q2_two{
    margin-top: -310px;
    margin-left: 60px; 
    font-size:400px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.35;
    z-index:3;
    position: relative;
    text-shadow: -4px 4px #B3E16E;
}

#q3{
    margin-top: -60px;
    margin-left: 40%; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;    
    position: relative;
    z-index:5;
}

#q3_three{
    margin-top: -310px;
    margin-left: 62%; 
    font-size:400px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.35;
    z-index:3;
    position: relative;
    text-shadow: -4px 4px #B3E16E;
}

#q4{
    margin-top: 30px;
    margin-left: 25%; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;    
    position: relative;
    z-index:5;
}

#q4_four{
    margin-top: -280px;
    margin-left: 37%; 
    font-size:400px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.35;
    z-index:3;
    position: relative;
    text-shadow: -4px 4px #B3E16E;
}

#q5{
    margin-top: 40px;
    margin-left: 130px; 
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    color:#1D1A31;    
    position: relative;
    z-index:5;
}

#q5_five{
    margin-top: -310px;
    margin-left: 60px; 
    font-size:400px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
    opacity:0.35;
    z-index:3;
    position: relative;
    text-shadow: -4px 4px #B3E16E;
}

#poem_1{
    margin-top: 40px;
    margin-left: 40px; 
    font-size: 60px;
    font-family: 'Libre Barcode 128 Text', cursive;
    color:#1D1A31;
    text-decoration: underline dotted #FFF5E6;
    position: relative;
}

#poem_2{
    margin-top: 40px;
    margin-right: 90px; 
    text-align: right;
    font-size: 60px;
    font-family: 'Libre Barcode 128 Text', cursive;
    color:#FFF5E6;
    text-decoration: underline dotted #B3E16E;
    position: relative;
}

#poem_3{
    margin-top: 40px;
    margin-right: 90px; 
    text-align: right;
    font-size: 60px;
    font-family: 'Libre Barcode 128 Text', cursive;
    color:#B3E16E;
    text-decoration: underline dotted #FFF5E6;
    position: relative;
}

#poem_4{
    margin-top: 40px;
    margin-left: 40px; 
    font-size: 60px;
    font-family: 'Libre Barcode 128 Text', cursive;
    color:#B3E16E;
    text-decoration: underline dotted #1D1A31;
    position: relative;
}

#poem_5{
    margin-top: 40px;
    margin-right: 90px; 
    font-size: 60px;
    text-align: right;
    font-family: 'Libre Barcode 128 Text', cursive;
    color:#FFF5E6;
    text-decoration: underline dotted #C33149;
    position: relative;
}

#TableOfContents{
    position: fixed;
    right: 25px; 
    z-index:10;
    font-size: 32px;
    font-family: 'Share Tech Mono', monospace;
    color:#FFF5E6;
}