html, body {
  margin: 0;
  padding: 0;
  cursor:  help;
}
canvas {
  display: block;
}

pre{
  position:absolute;
  background-color: none;
  color:#39FF14;
  font-size:12pt;
}

h1{
  color: #39FF14;
  position:absolute;
  background-color: none;
  font-size:13pt;
  font-weight: 100;
}

h2{
  position:absolute;
  background-color: none;
  color:#39FF14;
  font-size:12pt;
  top:180px;
  left:778px;
  z-index:550;
}

h3{
  position:absolute;
  background-color: none;
  color:#39FF14;
  font-size:24pt;
  top:212px;
  left:888px;
  z-index:500;
  opacity:25%;
}
/* .passform{
  position:absolute;
  background-color: none;
  color:#39FF14;
  font-size:12pt;
  top:290px;
  left:838px;
} */
.button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
  font-size:12pt;
  cursor:none;
	font: inherit;
	outline: inherit;
  position:absolute;
  color:#39FF14;
  top:113px;
  left:302px;
  text-decoration: none;
}
.spiral img{
  position: absolute;
  top:-40px;
  left:760px;
  max-width: 50%;
}
.one{
  position: absolute;
  color:#39FF14;
  font-size: 20px;
  top:10px;
  left:20px;
}
.two{
  position: absolute;
  color:#39FF14;
  font-size: 20px;
  top:40px;
  left:320px;
}
.three{
  position: absolute;
  color:#39FF14;
  font-size: 20px;
  top:120px;
  left:20px;
}
.four{
  position: absolute;
  color:#39FF14;
  font-size: 20px;
  top:170px;
  left:520px;
}
.five{
  position: absolute;
  color:#39FF14;
  font-size: 70px;
  top:440px;
  left:520px;
  text-decoration: underline wavy 3pt;
  font-family: 'Square Peg', cursive;
}
.six{
  position: absolute;
  color:#39FF14;
  font-size: 20px;
  top:290px;
  left:20px;
}
.seven{
  position: absolute;
  color:#39FF14;
  font-size: 20px;
  top:70px;
  left:620px;
}
.eight{
  position: absolute;

  color:#39FF14;
  font-size: 20px;
  top:20px;
  left:520px;
}
.nine{
  position: absolute;
  color:#39FF14;
  font-size: 20px;
  top:273px;
  left:620px;

}
.cat img{
  position:absolute;
  top:330px;
  left:10px;
}
